.card-image {
    max-width: 100px;
}

.card-imageModal {
    max-width: 170px;
}

#resultsPane {
    max-height: 400px;
    overflow: auto;
}

.modal-body {
    min-height: 200px;
}

#cardDetails {
    margin-left: 0;
}

.card-section {
    margin-top: 10px;
}

#cardTitle {
        padding-left: 20px;
    font-family: 'Fredericka the Great', cursive;
}

.tag {
    padding: 10px 20px;
}

.manaicons {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
}
.manaicons li {
    display: inline-block;
    margin-right: 5px;
}

span.badge-number {
    background-color: gray;
}

span.badge-found {
    background-color: #004C63;
}