body {
    font-family: 'Open Sans', cursive;
    background: url(../img/back.png);
    /*    background-size: cover;*/
}

html,
body {
    height: 100%;
}

a.navbar-brand img {
    width: 110px;
    display: inline-block;
}

a.navbar-brand {
    width: 330px;
    margin-bottom: 8px;
}

ul.nav {
    margin-top: 5px;
    font-size: 1.3em;
}

a.navbar-brand span {
    margin-left: 8px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.3em;
    color: #E8A357;
}

#wrapper {
    width: 1350px;
    margin: 0 auto;
    padding: 50px 100px;
    background-color: #222;
    height: 100%;
    /* Box shadows */
    -webkit-box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
}

.jumbotron {
    margin-top: 59px;
    margin-bottom: 0 !important;
    height: 200px;
    background: url(../img/jumbotronback.jpg);
    background-size: cover;
}

.jumbo-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px !important;
    margin-top: -2px !important;
    color: #39C2D8 !important;
    margin-left: 180px;
}

.footer {
    background-color: #0E0E0E;
    height: 50px;
}

.footer-content {
    padding: 10px;
    text-align: center;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #00DCFF;
}

#profilephoto {
    max-width: 45px;
    border-radius: 50px;
}

#username {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.3em;
    color: #39C2D8;
}