body {
    font-family: 'Open Sans', cursive;
    background: url(../img/back.png);
    /*    background-size: cover;*/
}

html,
body {
    height: 96%;
}

a.navbar-brand img {
    width: 110px;
    display: inline-block;
}

a.navbar-brand {
    width: 330px;
    margin-bottom: 8px;
}

ul.nav {
    margin-top: 5px;
    font-size: 1.3em;
}

a.navbar-brand span {
    margin-left: 8px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.3em;
    color: #E8A357;
}

#wrapper {
    width: 1350px;
    margin: 0 auto;
    padding: 10px 100px;
    background-color: #222;
        min-height: 75%;
    /* Box shadows */
    -webkit-box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
}

.jumbotron {
    margin-top: 59px;
    margin-bottom: 0 !important;
    height: 200px;
    background: url(../img/jumbotronbacking.jpg);
    background-size: cover;
}

.jumbo-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px !important;
    margin-top: -2px !important;
    color: #3EE4FF !important;
    text-align: center;
}

#cardButton {
    clear: left;
}

.footer {
    background-color: #0E0E0E;
    height: 50px;
}

.footer-content {
    padding: 10px;
    text-align: center;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #00DCFF;
}

#image-dropdown {
    display: inline-block;
    border: 1px solid;
}

#image-dropdown {
    height: 30px;
    overflow: hidden;
}


/*#image-dropdown:hover {} */

#image-dropdown .img_holder {
    cursor: pointer;
}

#image-dropdown img.flagimgs {
    height: 30px;
}

#image-dropdown span.iTEXT {
    position: relative;
    top: -8px;
}

#profilephoto {
    max-width: 45px;
    border-radius: 50px;
}

#username {
    font-size: 1.3em;
    color: #39C2D8;
}

.search-bar {
    height: 48px;
}

.loading-popup {
    margin: 20% auto;
    width: 400px;
}

.loading-popup .modal-body {
    background-color: #13455D;
    text-align: center;
}

#dots {
    font-size: 9em;
    margin-top: -10px;
}